@model DM_Tool.Models.Players

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Players</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.race)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hitpoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hitpoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accuracy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accuracy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dexterity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dexterity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.concentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intelligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intelligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wisdom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wisdom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charisma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charisma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.initiative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.initiative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.playerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
